* {
  margin: 0;
  padding: 0;
}

header {

}

.logo {
  height: 40px;
  padding: 20px;
  font-size: 40px;
  font-weight: 900;
  font-family: monospace;
  display: flex;
  justify-content: center;
  flex-direction: column;
  background: aliceblue;
}

.wrapper {
  font-family: sans-serif;
  display: flex;
}

.sidebar {
  width: 150px;
  padding: 20px;
  background-color: cornflowerblue;
}

.sidebar a {
  color: #fff;
}

.content {
  display: flex;
  flex-wrap: wrap;
  width: calc(100% - 150px);
  padding: 10px;
}

.posts {
  width: 50%;
  display: block;
}

.posts__list {
  position: relative;
}

.posts__list li {
  font-size: 13px;
  list-style-type: none;
  padding: 2px 0;
}

.posts__single-post {
  position: fixed;
  background-color: cadetblue;
  width: 30vh;
  left: 0;
  right: 0;
  top: 20vh;
  margin-left: auto;
  margin-right: auto;
  padding: 20px;
  display: none;
}

.posts__single-post.active {
  display: block;
}

.posts__single-post .title {
  color: azure;
  padding-bottom: 20px;
}

.user-card {
  padding: 20px;
  margin: 10px;
  background-color: rgba(150,150,150,0.41);
  color: black;
  border-radius: 10px;
  width: calc(50% - 60px);
  height: 210px;
  font-weight: bold;
}

.user-card div {
  padding: 5px 0;
}

.user-card span {
  font-weight: normal;
}

.user-list li {
  font-size: 12px;
  list-style-type: none;
  padding: 3px 0;
}

.user-thumbs {
  width: calc(50% - 60px);
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  gap: 8px;
  padding: 20px;
  margin: 10px;
  background-color: rgba(203,203,203,0.2);
  border-radius: 10px;
  justify-content: center;
}

.user-thumbs img {
  width: 36px;
  height: 36px;
}

.user-todos {
  display: flex;
  flex-wrap: wrap;
  padding: 10px;
}

.task {
  display: flex;
  width: 100%;
  font-size: 10px;
}

.task > div {
  text-align: center;
  border: 1px solid black;
  padding: 5px;
  width: 100%;
}
